<div layout="{{screenIsBig() ? 'row' : 'column'}}" layout-align="{{screenIsBig() ? 'start stretch' : 'start center'}}" layout-fill class="columnFix" ng-class="screenIsBig() ? 'activityBookDialogLarge' : 'activityBookDialogSmall'" ng-show="(paymentResponse.length <= 0 && !vm.showPaymentForm) || (!dashboard && paymentResponse.length <= 0)">
  <div flex class="paymentSummaryCardLarge leftCard" ng-class="screenIsBig() ? 'leftCardLarge' : 'leftCardSmall'" layout-align="start stretch">
    <div ng-include="'activity-forms.html'"></div>
  </div>
  <div flex class="paymentSummaryCardLarge rightCard" ng-class="screenIsBig() ? 'rightCardLarge' : 'rightCardSmall'" layout="column" layout-align="start stretch">
    <div flex class="activity-total-include" ng-include="'activity-total.html'"></div>
  </div>
</div>

<div ng-if="dashboard">
  <md-card class="paymentSummaryCard no-margin" ng-show="vm.showPaymentForm && paymentResponse.length < 1">
    <div style="min-height:310px" layout="row" layout-sm="column" layout-align="center center" ng-if="vm.paymentFormIsLoading">
      <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
    </div>
    <iframe id="paymentIframe"></iframe>
  </md-card>
</div>

<div class="paymentResponseContainer">
  <div class="paymentSummaryCard no-margin" ng-show="paymentResponse.length > 0">
    <div ng-if="paymentResponse == 'success'" class="easeIn">
      <div class="paymentHeader md-2-line md-primary" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text" flex>
          <div flex layout="row" layout-align="start center" md-colors="{color: 'default-primary'}">
            <ng-md-icon class="listItemHeaderIcon" icon="payment" class="listIcon "></ng-md-icon>
            <span class="paymentSubTitle total">{{bookingSuccessResponse.data.booking.status == 'unpaid' ? 'Booking' : 'Payment'}} Complete</span>
          </div>
          <div layout="column" flex="none" style="width:24px">
            <ng-md-icon flex="none" style="width:24px;height:24px;margin: inherit;" icon="check" class="listIcon" ng-style="{fill: 'green'}"></ng-md-icon>
          </div>
        </div>
      </div>
      <div class="paymentBody">
        <div class="confirmation" ng-if="dashboard">
          <h3>Congratulations!</h3>
          <p>Your {{bookingSuccessResponse.data.booking.status == 'unpaid' ? 'reservation' : 'booking'}} is confirmed.</p>
          <p>{{vm.formData.fullName}} is attending {{bookingSuccessResponse.data.booking.title}} on {{formatDate(bookingSuccessResponse.data.booking.startTime, 'LL')}}</p>
          <p>A confirmation email will be sent to {{bookingSuccessResponse.data.booking.organizations[0].primaryContact.email}}</p>
          <div class="booking-id">The reference ID is: {{bookingSuccessResponse.data.booking.bookingId}}</div>
          <div layout="row" layout-align="center center">
            <span flex>
              <md-button class="md-raised md-primary" ng-click="vm.returnToMainPage()">Return</md-button>
            </span>
          </div>
        </div>
        <div class="confirmation" ng-if="!dashboard">
          <h3>Congratulations!</h3>
          <p>Your booking is confirmed.</p>
          <p>You will receive a confirmation email at: <strong>{{vm.formData['mail']}}</strong></p>
          <p class="margin-top">For questions about your booking, please contact:</p>
          <p><strong>{{bookingSuccessResponse.data.booking.organizations[0].companyName}} ({{bookingSuccessResponse.data.booking.organizations[0].primaryContact.phoneNumber}})</strong></p>
          <p><strong>{{bookingSuccessResponse.data.booking.organizations[0].primaryContact.email}}</strong></p>
          <div class="booking-id">Booking ID: {{bookingSuccessResponse.data.booking.bookingId}}</div>
          <div style="margin-top:25px" layout="row" layout-align="center center">
            <span flex>
              <md-button class="md-raised md-primary" ng-click="vm.returnToMainPage()">Return</md-button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="paymentResponse == 'failed'">
      <div class="paymentHeader md-2-line md-primary" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text" flex>
          <div flex layout="row" layout-align="start center" md-colors="{color: 'default-primary'}">
            <ng-md-icon class="listItemHeaderIcon" icon="payment" class="listIcon "></ng-md-icon>
            <span class="paymentSubTitle total">Payment Failed</span>
          </div>
          <div layout="column" flex="none" style="width:24px">
            <ng-md-icon flex="none" style="width:24px;height:24px;margin: inherit;" icon="error" class="listIcon" ng-style="{fill: 'red'}"></ng-md-icon>
          </div>
        </div>
      </div>

      <div class="paymentBody">
        <div class="confirmation">
          <p>Your credit card has been declined. Please confirm the information you provided is correct and try again.</p>
          <div style="margin-top:25px" layout="row" layout-align="center center">
            <span flex>
              <md-button class="md-raised md-primary" ng-click="vm.payNow()">Try Again</md-button>
            </span>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="paymentResponse == 'processing'">
      <div class="paymentHeader md-2-line md-primary" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text" flex>
          <div flex layout="row" layout-align="start center" md-colors="{color: 'default-primary'}">
            <ng-md-icon class="listItemHeaderIcon" icon="payment" class="listIcon "></ng-md-icon>
            <span class="paymentSubTitle total">Payment Processing</span>
          </div>
          <div layout="column" flex="none" style="width:24px">
            <ng-md-icon flex="none" style="width:24px;height:24px;margin: inherit;" icon="watch_later" class="listIcon" ng-style="{fill: 'red'}"></ng-md-icon>
          </div>
        </div>
      </div>

      <div class="paymentBody">
        <div class="confirmation">
          <p>Your booking payment is still processing. An e-mail will be sent to {{vm.formData.mail }} with details about your reservation.</p>
          <div style="margin-top:25px" layout="row" layout-align="center center">
            <span flex>
              <md-button class="md-raised md-primary" ng-click="goToState('home')">Return</md-button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
