#paymentIframe {
    margin: 0;
    padding: 8px 8px;
    border: none;
    min-height: 330px;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    display: none;
}

abl-activity-book md-card {
    box-shadow: none !important;
    border: none !important;
    background: transparent;
}

.transparent {
    background-color: transparent !important;
}

list-item {
    display: block !important;
}

.payment-section {
  margin-bottom: 54px;
}

md-input-container.md-white-theme:not(.md-input-invalid).md-input-focused label{
    color: #666 !important;
}

.paymentSummaryCardNewContent .paymentSummaryCardNew{
    margin: 0 !important;
}

.left-panel{
    background-color: rgb(250,250,250);
}