#paymentIframe {
    margin: 0;
    padding: 8px 8px;
    border: none;
    min-height: 330px;
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    display: none;
}

abl-activity-book md-card {
    box-shadow: none !important;
    border: none !important;
    background: transparent;
}

.transparent {
    background-color: transparent !important;
}

list-item {
    display: block !important;
}

.payment-section {
  margin-bottom: 54px;
}

md-input-container.md-white-theme:not(.md-input-invalid).md-input-focused label{
    color: #666 !important;
}

.paymentSummaryCardNewContent .paymentSummaryCardNew{
    margin: 0 !important;
}

.payment-icons-bar{
    padding-top:8px;
    padding-bottom:8px;
    border-bottom: 1px solid rgba(0,0,0,.10);
    background: #cccccc; 
}

.left-panel{
    background-color: #f2f2f2;
    border-right: 1px solid #ddd;
}

.left-panel-no-dashboard{
    background-color: #f2f2f2;
}

.left-panel > md-content,
.left-panel-no-dashboard > md-content{
    background-color: transparent !important;
}

.paymentSummaryCardNewContent .gradient{
    background: rgb(0,0,0);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(246,246,246,0.2049194677871149) 100%);
    background: -moz-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(246,246,246,0.2049194677871149) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0.15) 0%, rgba(246,246,246,0.2049194677871149) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.15) 0%, rgba(246,246,246,0.2049194677871149) 100%);
    width: 5px;
}

.paymentSummaryCardNewContent .paymentSummaryCardNew{
    overflow-y: auto !important;
}

@media(max-width: 599px) {
    .left-panel{
        border-right: none;
    }
    .left-panel-no-dashboard{
        background-color: #f9f9f9;
    }
}