<md-card class="paymentSummaryCard">
  <md-list class="" flex>
    <!--<md-list-item class="paymentHeader md-2-line" ng-click="prefill();">-->
    <!--  <div layout="row" class="md-list-item-text " flex>-->
    <!--    <div layout="row" layout-align="start center" flex="50">-->
    <!--      <div layout="column" class="formHeader">-->
    <!--        <div layout="row" layout-align="start center" flex="50">-->
    <!--          <ng-md-icon class="headerIcon" icon="monetization_on" class="listIcon "></ng-md-icon>-->

    <!--          <span class="paymentSubTitle">Booking Summary</span>-->
    <!--        </div>-->


    <!--      </div>-->
    <!--    </div>-->

    <!--    <div layout="row " layout-align="end center " flex="50 ">-->
    <!--      <div layout="column " layout-align="center end " flex>-->
            <!--<ng-md-icon icon="payment " class="listIcon "></ng-md-icon>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</md-list-item>-->

    <!--<md-divider ng-if="vm.base "></md-divider>-->
    <md-list-item class="lineItemHeader " ng-if="vm.base " ng-click="null">
      <div class="md-list-item-text  " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <p class=" ">Base Price </p>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{vm.base() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>

    <!--Coupons-->
    
    <md-list-item class="paymentHeader md-2-line md-primary"
      ng-init="addOnsHover=0" ng-disabled="detailsForm.$invalid">
      <div layout="row" class="md-list-item-text " flex>
        <div layout="row" layout-align="start center" flex>
          <ng-md-icon class="headerIcon" icon="local_offer" class="listIcon" ng-if="vm.couponStatus !='valid'"></ng-md-icon>
          <ng-md-icon icon="clear" class="listIcon" ng-click="vm.removeCoupon();" ng-if="vm.couponStatus =='valid'"></ng-md-icon>

          <!--<span class="paymentSubTitle total" ng-if="vm.couponStatus =='untouched' || vm.couponStatus =='invalid'">Coupon</span>-->
          <span class="paymentSubTitle total couponText" ng-if="vm.couponStatus =='valid'" flex>Coupon - {{vm.appliedCoupon.couponId}} - {{vm.appliedCoupon.percentage ? '' : '$'}}{{vm.appliedCoupon.amount}}{{vm.appliedCoupon.percentage ? '%' : ''}} Off</span>
          <span class="paymentSubTitle total">
            <input ng-model="vm.couponQuery" type="text" class="couponInput" ng-if="vm.couponStatus =='untouched' || vm.couponStatus =='invalid'" ng-change="vm.checkingCoupon = true" placeholder="Enter Coupon" capitalize/>
            </span>
        </div>
        <div layout="row " layout-align="end center ">

          <!--<ng-md-icon icon="add_box" class="listIcon" ng-click="vm.checkCoupon();" ng-if="vm.couponStatus =='untouched'"></ng-md-icon>
          <ng-md-icon icon="add_box" class="listIcon" ng-click="vm.checkCoupon();" ng-if="vm.couponStatus =='invalid'"></ng-md-icon>-->
              <span class="paymentSubTitle total" ng-if="vm.pricing.couponDeduction[0]">-${{(-1 * vm.pricing.couponDeduction[0].price / 100) | number : 2}}</span>

          <md-progress-circular md-mode="indeterminate" ng-show="vm.checkingCoupon && vm.couponQuery.length > 0" class="listItemCircularProgress easeIn" md-diameter="24px"></md-progress-circular>


        </div>
      </div>
    </md-list-item>
    
    <md-list-item ng-show="vm.couponStatus =='invalid' && vm.couponQuery.length > 0 && !vm.checkingCoupon" class="paymentHeader md-2-line md-primary easeIn">
       <div layout="row" class="md-list-item-text " flex>
        <div layout="row" layout-align="start center" flex>
          <ng-md-icon class="headerIcon" icon="error_outline" class="listIcon" ng-if="vm.couponStatus !='valid'" style="fill: rgba(255,87,87,0.8)"></ng-md-icon>
          <span class="paymentSubTitle total">
            Invalid Coupon
          </span>
        </div>
        <div layout="row" layout-align="end center" flex>
          <ng-md-icon icon="clear" class="listIcon" ng-click="vm.couponQuery = '';"></ng-md-icon>
        </div>
      </div>
    </md-list-item>



    <div ng-repeat="charge in booking.addOns " ng-show="vm.showAddons " ng-if="booking.addOns.length > 0">
      <md-list-item class="list-item-48 lineItemDetail" ng-if="charge.quantity > 0">
        <div class="md-list-item-text " layout="row " flex>
          <div layout="row " layout-align="start center " flex="50 ">
            <div layout="row ">
              <p>{{ charge.label }} <span style="vertical-align: 'middle' ">x</span> {{ charge.quantity }}</p>
              <!--<p class=" ">{{ charge.amount / 100 }} CFP</p>-->
            </div>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <p class=" ">{{ charge.price/100 * charge.quantity}} CFP</p>
          </div>
        </div>
      </md-list-item>
    </div>
      
    <div ng-if="vm.attendeeTotal > 0">
      <!--<md-list-item class="paymentHeader md-2-line activityTotal" >-->
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Attendees </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.attendeeTotal / 100 | number:2}}</span>
        </div>
      </div>

    <!--</md-list-item>-->
    
      <div ng-repeat="(key, value) in vm.attendeeSubtotals" layout="row" flex class="subtotalLineItem subtotalLineItemSmall">
        <div layout="row" layout-align="start center" flex="50">
          {{value.quantity}} x {{key}} @ ${{value.price/100}} each
        </div>
        <div layout="row" layout-align="end center" flex="50">
          ${{value.amount / 100 | number:2}}
        </div>
      </div>
    </div>
    
    <div ng-if="vm.addonTotal > 0">
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Add-ons </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.addonTotal / 100 | number:2}}</span>
        </div>
      </div>
      
      <div ng-repeat="(key, value) in vm.addonSubtotals" layout="row" flex class="subtotalLineItem subtotalLineItemSmall">
        <div layout="row" layout-align="start center" flex="50">
          {{value.quantity}} x {{key}} @ ${{value.price/100}} each
        </div>
        <div layout="row" layout-align="end center" flex="50">
          ${{value.amount / 100 | number:2}}
        </div>
      </div>
    </div>

    <div ng-if="vm.taxTotal > 0">
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Taxes and Fees </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.taxTotal / 100 | number:2}}</span>
        </div>
      </div>
    </div>


    <div>
      <div class="md-list-item-text subtotalLineItem bottomTotal" layout="row " layout-align="space-between center " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <span class="">Total </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="">${{(vm.pricing.total || 0) / 100  | number:2}}</span>
        </div>
      </div>
    </div>
  </md-list>
</md-card>

<md-card class="paymentSummaryCard" ng-show="paymentResponse.length > 0">
  <md-list>


    <div ng-show="paymentResponse == 'success'" class="easeIn">
      <md-list-item class="paymentHeader md-2-line md-primary" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex="50" md-colors="{color: 'primary'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Complete</span>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <span class="paymentSubTitle total" md-colors="{color: 'green'}"></span>

            <ng-md-icon icon="check" class="listIcon " md-colors="{fill: 'green'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>
      <md-list-item>
      <div layout="column"       layout-align="space-between center">
        <div layout="row" layout-wrap>
          <p class="listMessage">An e-mail will be sent to {{vm.formData.mail }} with details about your reservation.</p>
        </div>
        <div layout="row" layout-wrap>
          <p class="listMessage">For questions about your booking please contact:</p>
          <p class="listMessage">{{bookingSuccessResponse.operator.companyName}} (+{{bookingSuccessResponse.operator.primaryContact.phoneNumber}}) </p>
          <p class="listMessage">{{bookingSuccessResponse.operator.primaryContact.email}} </p>
          <p class="listMessage">Booking reference ID: {{bookingSuccessResponse.bookingId}} </p>
        </div>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ui-sref="home">Return</md-button>

        </div>
      </md-list-item>
    </div>

    <div ng-show="paymentResponse == 'failed'">

      <md-list-item class="paymentHeader md-2-line md-primary" md-colors="{color: 'primary'}" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">
        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex="50" md-colors="{color: 'warn'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Failed</span>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <span class="paymentSubTitle total" md-colors="{color: 'warn'}"></span>

            <ng-md-icon icon="error" class="listIcon " md-colors="{fill: 'warn'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>

      <md-list-item>
        <div layout="row" layout-wrap>

          <p class="listMessage">Your credit card has been declined. Please confirm the information you provided is correct and try again.</p>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ng-click="vm.payNow();">Try Again</md-button>

        </div>
      </md-list-item>
    </div>


    <div ng-show="paymentResponse == 'processing'">

      <md-list-item class="paymentHeader md-2-line md-primary" md-colors="{color: 'primary'}" ng-mouseleave="addOnsHover = 0" ng-mouseenter="addOnsHover = 1" ng-init="addOnsHover=0">

        <div layout="row" class="md-list-item-text " flex>
          <div layout="row" layout-align="start center" flex layout-grow md-colors="{color: 'primary'}">
            <ng-md-icon class="headerIcon" icon="payment" class="listIcon "></ng-md-icon>

            <span class="paymentSubTitle total">Payment Processing</span>
          </div>
          <div layout="row " layout-align="end center ">
            <span class="paymentSubTitle total" md-colors="{color: 'green'}"></span>

            <ng-md-icon icon="watch_later" class="listIcon " md-colors="{fill: 'amber'}"></ng-md-icon>

          </div>
        </div>
      </md-list-item>
      <md-list-item>
        <div layout="row" layout-wrap>

          <p class="listMessage">Your booking payment is still processing. An e-mail will be sent to {{vm.formData.mail }} with details about your reservation.</p>
        </div>

      </md-list-item>
      <md-list-item>
        <div layout="row" layout-align="end center" flex>
          <md-button class="md-raised md-primary" ng-click="goToState('home');">Return</md-button>

        </div>
      </md-list-item>
    </div>
  </md-list>

</md-card>