<md-card class="paymentSummaryCard" ng-show="paymentResponse != 'success'">
  <md-list flex>

    <md-list-item class="lineItemHeader " ng-if="vm.base " ng-click="null">
      <div class="md-list-item-text  " layout="row " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <p class=" ">Base Price </p>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <p class=" ">{{vm.base() / 100}} CFP</p>
        </div>
      </div>
    </md-list-item>

    <!--Coupons-->

    <md-list-item class="paymentHeader md-2-line md-primary" ng-disabled="detailsForm.$invalid">
      <div layout="row" class="md-list-item-text " flex>
        <div layout="row" layout-align="start center" flex>
          <ng-md-icon class="headerIcon" icon="local_offer" class="listIcon" ng-if="vm.couponStatus !='valid'"></ng-md-icon>
          <ng-md-icon icon="clear" class="listIcon" ng-click="vm.removeCoupon();" ng-if="vm.couponStatus =='valid'"></ng-md-icon>

          <span class="paymentSubTitle  couponText" ng-if="vm.couponStatus =='valid'" flex>{{vm.appliedCoupon.couponId}} - {{vm.appliedCoupon.percentage ? '' : '$'}}{{vm.appliedCoupon.amount}}{{vm.appliedCoupon.percentage ? '%' : ''}} Off</span>
          <span class="paymentSubTitle total">
            <input ng-model="vm.couponQuery" type="text" class="couponInput" ng-if="vm.couponStatus =='untouched' || vm.couponStatus =='invalid'" ng-change="vm.checkingCoupon = true" placeholder="Enter Coupon" capitalize/>
            </span>
        </div>
        <div layout="row " layout-align="end center ">
          <span class="paymentSubTitle total" ng-if="vm.pricing.couponDeduction[0]">-${{(-1 * vm.pricing.couponDeduction[0].price / 100) | number : 2}}</span>
          <md-progress-circular md-mode="indeterminate" ng-show="vm.checkingCoupon && vm.couponQuery.length > 0" class="listItemCircularProgress easeIn" md-diameter="24px"></md-progress-circular>


        </div>
      </div>
    </md-list-item>

    <md-list-item ng-show="vm.couponStatus =='invalid' && vm.couponQuery.length > 0 && !vm.checkingCoupon" class="paymentHeader md-2-line md-primary easeIn">
      <div layout="row" class="md-list-item-text " flex>
        <div layout="row" layout-align="start center" flex>
          <ng-md-icon class="headerIcon" icon="error_outline" class="listIcon" ng-if="vm.couponStatus !='valid'" style="fill: rgba(255,87,87,0.8)"></ng-md-icon>
          <span class="paymentSubTitle total">
            Invalid Coupon
          </span>
        </div>
        <div layout="row" layout-align="end center" flex>
          <ng-md-icon icon="clear" class="listIcon" ng-click="vm.couponQuery = '';"></ng-md-icon>
        </div>
      </div>
    </md-list-item>

    <div ng-repeat="charge in booking.addOns " ng-show="vm.showAddons " ng-if="booking.addOns.length > 0">
      <md-list-item class="list-item-48 lineItemDetail" ng-if="charge.quantity > 0">
        <div class="md-list-item-text " layout="row " flex>
          <div layout="row " layout-align="start center " flex="50 ">
            <div layout="row ">
              <p>{{ charge.label }} <span style="vertical-align: 'middle' ">x</span> {{ charge.quantity }}</p>
            </div>
          </div>
          <div layout="row " layout-align="end center " flex="50 ">
            <p class=" ">{{ charge.price/100 * charge.quantity}} CFP</p>
          </div>
        </div>
      </md-list-item>
    </div>

    <div ng-if="vm.attendeeTotal > 0">
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Attendees </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.attendeeTotal / 100 | number:2}}</span>
        </div>
      </div>

      <!--</md-list-item>-->

      <div ng-repeat="(key, value) in vm.attendeeSubtotals | filter:{quantity: '!0'}" layout="row" flex class="subtotalLineItem subtotalLineItemSmall">
        <div layout="row" layout-align="start center" flex="50">
          {{value.quantity}} x {{value.name}} @ ${{value.price/100}} each
        </div>
        <div layout="row" layout-align="end center" flex="50">
          ${{value.amount / 100 | number:2}}
        </div>
      </div>
    </div>

    <div ng-if="vm.addonTotal > 0">
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Add-ons </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.addonTotal / 100 | number:2}}</span>
        </div>
      </div>

      <div ng-repeat="(key, value) in vm.addonSubtotals | filter:{quantity: '!0'}" layout="row" flex class="subtotalLineItem subtotalLineItemSmall">
        <div layout="row" layout-align="start center" flex="50">
          {{value.quantity}} x {{value.name}} @ ${{value.price/100}} each
        </div>
        <div layout="row" layout-align="end center" flex="50">
          ${{value.amount / 100 | number:2}}
        </div>
      </div>
    </div>

    <div ng-if="vm.taxTotal > 0">
      <div class="md-list-item-text subtotalLineItem" layout="row " flex>
        <div layout="row" layout-align="start center " flex="50 ">
          <span class="total">Taxes and Fees </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="activityTotal">${{vm.taxTotal / 100 | number:2}}</span>
        </div>
      </div>
    </div>

    <div>
      <div class="md-list-item-text subtotalLineItem bottomTotal" layout="row " layout-align="space-between center " flex>
        <div layout="row " layout-align="start center " flex="50 ">
          <span class="">Total </span>
        </div>
        <div layout="row " layout-align="end center " flex="50 ">
          <span class="">${{(vm.pricing.total || 0) / 100  | number:2}}</span>
        </div>
      </div>
    </div>
  </md-list>
</md-card>
