<div flex layout="column">
  <!-- Desktop -->
  <div flex ng-if="screenIsBig()" layout="row" class="activityBookDialogLargeNew" ng-show="(paymentResponse.length <= 0 && !vm.showPaymentForm) || (!dashboard && paymentResponse.length <= 0)">
    <div flex layout="column">
      <div flex ng-include="'activity-forms.html'" layout="column"></div>
    </div>
    <div flex layout="column">
      <div flex ng-include="'activity-total.html'" layout="column"></div>
    </div>
  </div>
  
  <!-- Mobile -->
  <div flex ng-if="!screenIsBig()" class="activityBookDialogLargeNew" ng-show="(paymentResponse.length <= 0 && !vm.showPaymentForm) || (!dashboard && paymentResponse.length <= 0)">
    <div>
      <div flex ng-include="'activity-forms.html'" layout="column"></div>
    </div>
    <div>
      <div flex ng-include="'activity-total.html'" layout="column"></div>
    </div>
  </div>
  
</div>